/* Root */


:root {
--black:#212121;
--white:#FFFFFF;
--blue:#2196F3;
--grey80:#808080;
--grey-transparent:rgba(255, 255, 255, 0.6);
--grey75:#757575;
--whiteF5:#F5F4FA;
--dark-grey:#2F303A;
--whiteECE:#ECECEC;
--whiteEEE:#EEEEEE;
--light-grey:#AFB1B8;
--footer-icon:rgba(255, 255, 255, 0.1);
--boxes-hover:rgba(0, 0, 0, 0.3);
}
/* Root end */


/* Container */
.container {
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}
/* Icon */
.icon {
display: inline-block;
width: 1em;
height: 1em;
stroke-width: 0;
stroke: currentColor;
fill: currentColor;
}
/* Body */
body {
font-family: 'Roboto', sans-serif;
color:var(--black);
font-weight: 400;
font-size: 14px;
line-height:1.17;
letter-spacing: 0.03em;
background:var(--white);
}
/* Ul reset */
ul {
list-style: none;
margin:0;
padding:0;}
/* A decoration reset */
a {
text-decoration: none;
}
/* IMG */
img {
display:block;
max-width:100%;}
/* Section padding */
.section {
padding-top:94px;
padding-bottom:94px;
}
/* Hide H1 */
.visually-hidden {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
} 


/* Навігація (navigation) */


/* header */
header {
background:var(--white);
border-bottom: 1px solid var(--whiteECE);
}
/* nav flex */
header div,
header ul,
header nav {
display:flex;
justify-content:space-between;
align-items:center;
gap: 50px;
}
/* Webstudio logo */
.logo {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
color:var(--black);
line-height: 1.2;
}
/* Current page */
.current {
color: var(--blue);
}
/* link hover */
header nav ul a:hover,
header nav ul a:active{
color:var(--blue);
}
/* студія портфоліо контакти text */
header nav ul a {
font-weight: 500;
color:var(--black);
display: block;
padding: 32px 0;
}
/* email + tel */
header .contacts a {
color:var(--grey80);
font-weight: 500;
fill: var(--grey75);
display: flex;
align-items: center;
justify-content: center;
}
/* email + tel :hover */
header .contacts a:hover,
header .contacts a:active {
fill: var(--blue);
color: var(--blue);
}
/* Contacts icon margin */
header .contacts a svg {
margin-right: 10px;
}    
/* Навігація (navigation) end */


/* Шапка (hat) */


/* hat bg */
.hat { 
background:linear-gradient(to right, rgba(47, 48, 58, 0.4), #C4C4C4); 
background-image:url(../images/bg.jpg);
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: 1600px 600px;
padding-top: 200px;
padding-bottom: 200px;
}
/*  hat h1 */
.hat h1 {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--white);
margin-top: 0;
margin-bottom: 30px;
}
/* hat button */
.hat button {
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
background:var(--blue);
color: var(--white);
cursor: pointer;
margin: 0 auto;
display: block;
padding: 10px 32px 10px 32px;
border-radius: 4px;
border: none;
}
.hat button:hover
.hat button:active {
cursor: pointer;
}
/* Шапка (hat) end */


/* Особливості (special) */


/* special ul */
.special ul {
display: flex;
justify-content:space-between;
gap: 30px;
}
/* special h3 */
.special h3 {
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
line-height: 1.14;
margin: 0 auto;
margin-bottom: 10px;
}
/* special p */
.special p {
font-size: 14px;
line-height: 1.71;
color:var(--grey80);
margin: 0 auto;
}
/* special ul */
.special li {
flex-basis: calc((100% -30px * 3) / 4);
}
/* special div */
.special ul li div {
background-color: var(--whiteF5);
height: 120px;
margin-bottom: 30px;
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
}
/* svg */
.special svg {
display: block;

height: 70px;
width: 70px;
}
/* Особливості (special) end */


/* Tasks */


/* tasks */
.tasks {
padding-top: 0;
}
/* title */
.title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
margin-top:0;
margin-bottom:50px;
}
/* tasks ul */
.tasks ul {
display:flex;
flex-direction:row;
justify-content:space-between;
margin: 0;
}
/* Tasks end */


/* Наша команда */


/* command bg */
.command {
background-color: var(--whiteF5);
}  
/* Box li */
.command-li {
background-color: var(--white);
}
/* ul */
.command-ul:not(.list-icons) {
display: flex;
justify-content:space-between;
}
/* text div */
.command-div {
text-align: center;
padding-top:30px;
padding-bottom:30px;
}
/* member h3 */
.command h3 {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
color:var(--black);
margin: 0;
margin-bottom: 10px;
}
/* member position p */
.command p {
font-size: 16px;
line-height: 1.18;
color:var(--grey75);
margin: 0;
margin-bottom: 10px;
}
/* a */
.command a {
width: 44px;
height: 44px;
border-radius:50%;
background-color: var(--white);
fill: var(--light-grey);
}
/* a hover */
.command a:hover,
.command a:active {
background-color: var(--blue);
fill: var(--white);
}
.list-icons li {
display: inline-flex;
flex-direction: row;
margin-right: 10px;
}
.list-icons > li:last-of-type {
margin-right: 0px;
}
/* Наша команда end */


/* Clients */


/* clients h2 */
.clients h2 {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
margin: 0;
margin-bottom: 50px;
}
/* clients li */
.clients-li {
margin-right: 30px;
flex-basis: calc((100% -30px * 5) / 6);
}
/* clients ul */
.clients-ul {
display: flex;
}
/* clients li:last-of-type */
.clients-li:last-of-type {
margin-right: 0px;
}
/* clients li svg */
.clients li svg {
width: 106px;
height: 60px;
}
/* clients link */
.clients-link {
height: 92px;
border: 1px solid var(--light-grey);
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
fill: var(--light-grey);
}
/* clients link:hover */
.clients-link:hover,
.clients-link:active {
border: 1px solid var(--blue);
fill: var(--blue);}
/* Clients end */


/* Footer */


/* footer */
footer {
background:var(--dark-grey); 
padding-top: 60px;
padding-bottom: 60px;
}
/* Footer h2 */
footer h2 {
font-weight: 700;
line-height: 1.14;
font-size: 14px;
text-transform: uppercase;
color:var(--white);
margin:0;
margin-bottom: 20px;
}
/* a */
footer .list-icons a {
width: 44px;
height: 44px;
border-radius:50%;
background-color: var(--footer-icon);
fill: var(--white);
}
/* a:hover */
footer .list-icons a:hover {
background-color: var(--blue);
}
footer section {
display: flex;
}
/* Address margin */
footer address {
margin-top: 20px;
margin-right: 70px;
}
/* address list margin */
footer address li:not(:last-child)  {
margin-bottom: 9px;
} 
/* address */
.addpos1 {
line-height: 1.71;
font-weight: 500;
color: var(--white);
font-style: normal;
}
/* Address */
.addpos2 {
line-height: 1.71;
color: var(--grey-transparent);
font-weight: 500;
font-style: normal;
}
/* Studio black */
.stud1 {
color: var(--white);
}
/* Web white */
.web {
color:var(--blue);
}


/* End Footer */


/* Portfolio */


/* Button Portfolio */


.button-list {
display: flex;
justify-content: center;
margin-bottom: 50px;
}  
/* button margin */
.button-list li {
margin-right:8px;
}
.button-list li:last-of-type {
margin-right:0;
}  
/* button */
.button-list button {
cursor: pointer;
background:var(--whiteF5);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
font-family: inherit;
padding: 6px 22px 6px 22px;
border: none;
border-radius: 4px;
}
/* Button hover */
.button-list button:hover {
background-color:var(--blue);
color: var(--white);
box-shadow: 3px 3px 5px 2px var(--boxes-hover);
}

/* Button Portfolio end */


/* Posters */


.posters {
display: flex;
flex-wrap: wrap;
gap: 30px;
}
/* posters li div */
.posters li div {
padding: 20px 24px 24px 20px;
border-bottom: 1px solid var(--whiteEEE);
border-right: 1px solid var(--whiteEEE);
border-left: 1px solid var(--whiteEEE);
}
/* posters h2 */
.posters h2 {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.05em;
margin:0;
margin-bottom: 4px;
color: var(--black);
}
/* posters p */
.posters p {
font-size: 16px;
line-height: 1.88;
color:var(--grey75);
margin:0;
}
/* posters li */
.posters li {
width: calc((100% - 60px) / 3);
}
.posters a {
display: block;
}
/* posters a:hover */
.posters a:hover {
box-shadow: 2px 2px 5px 2px var(--boxes-hover);
}

/* Posters end */