:root {
--main-color:#212121;
--main-color1:#FFFFFF;
--main-color2:#2196F3;
--main-color3:#808080;
--main-color4:rgba(255, 255, 255, 0.6);
--main-color5:#757575;
--main-color6:#F5F4FA;
--main-color7:#2F303A;
--main-color8:#ECECEC;
--main-color9:#EEEEEE;
--main-color10:#188CE8;}
/* Container */
.container {
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;}
/* Body */
body {
font-family: 'Roboto', sans-serif;
color:var(--main-color);
font-weight: 400;
font-size: 14px;
line-height:1.17;
letter-spacing: 0.03em;
background:var(--main-color1);}
/* Ul */
ul {
list-style: none;
margin:0;
padding:0;}
/* A */
a {
text-decoration: none;}
/* IMG */
img {
display:block;
max-width:100%;}
/* Section */
.section {
padding-top:94px;
padding-bottom:94px;}
.link:hover {
color:var(--main-color2);}
/* Hide H1 */
.visually-hidden {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;} 
/* Current */
.link.current {
color: var(--main-color2);}
/* Bg */
.bg {
background:var(--main-color7);
padding-top: 200px;
padding-bottom: 200px;}
/* Header */
.header {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--main-color1);
margin-top: 0;
margin-bottom: 30px;}
/* Button */
.button {
cursor: pointer;
background:var(--main-color2);}
/* Button hover */
.button:hover:focus {
color:var(--main-color2);}
/* Button4 */
.button4 {
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
background:var(--main-color2);
color: var(--main-color1);
cursor: pointer;
margin: 0 auto;
display: block;
padding: 10px 32px 10px 32px;
border-radius: 4px;
border: none;}
.button4:hover:focus {
background:var(--main-color10);}
/* top line bg */
.topline {
background:var(--main-color1);
border-bottom: 1px solid var(--main-color8);}
/* Topnav */
.flex {
display:flex;
justify-content:space-between;
align-items:center;
gap: 50px;}
/* WebStudio */
.logo {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
color:var(--main-color);
line-height: 1.2;}
.lg1 {}
/* Web */
.web {
color:var(--main-color2);}
/* Студія */
.studio {
font-weight: 500;
color:var(--main-color);
display: block;
padding: 32px 0;}
/* Портфоліо */
.portfolio {
font-weight: 500;
color:var(--main-color);}
/* Контакти */
.contacts {
font-weight: 500;
color:var(--main-color);}
/* info@devstudio.com */
.address1 {
color:var(--main-color3);
font-weight: 500;}
/* +38 096 111 11 11 */
.address2 {
color:var(--main-color3);
font-weight: 500;}
.list-item {
display: flex;
justify-content:space-between;}
.text2 {
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
line-height: 1.14;
margin: 0 auto;
margin-bottom: 10px;}
.text3 {
font-size: 14px;
line-height: 1.71;
color:var(--main-color3);
margin: 0 auto;}
/* Title */
.title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
margin-top:0;
margin-bottom:50px;}
/* List item1 */
.list-item1 {
display:flex;
flex-direction:row;
justify-content:space-between;
margin: 0;}
.lielement {
flex-basis: calc((100% -30px * 3) / 4);}
/* Наша команда */
.command {
background-color: var(--main-color6);}   
/* list-item2 */
.list-item2 {
display: flex;
justify-content:space-between;}
/* section1 */
.section1 {
padding-top: 0;
}
/* Наша команда */
.list1 {
font-weight: 500;
font-size: 16px;
line-height: 1.18;}
/* Box */
.box {
background-color: var(--main-color1);}
/* text */
.text {
text-align: center;
padding-top:30px;
padding-bottom:30px;}
/* member */
.member {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
color:var(--main-color);
margin: 0;
margin-bottom: 10px;}
/* memberpos */
.memberpos {
font-size: 16px;
line-height: 1.18;
color:var(--main-color5);
margin: 0;}
/* Footer bg */
.footer {
background:var(--main-color7); 
padding-top: 60px;
padding-bottom: 60px;}
/* list-item3 */
.list-item3 {}
/* Address */
.address {
margin-top: 20px;
}
/* Liitem3 */
.liitem3:not(:last-child)  {
margin-bottom: 9px;}
/* logo1 */
.logo-1 {}
/* м. Київ, пр-т Лесі Українки, 26 */
.addpos1 {
line-height: 1.71;
font-weight: 500;
color: var(--main-color1);
font-style: normal;}
.stud1 {
color: var(--main-color1);}
/* Address */
.addpos2 {
line-height: 1.71;
color: var(--main-color4);
font-weight: 500;
font-style: normal;}
/* boxbutton */
.boxbutton {
margin-right:8px;}
.boxbutton:last-of-type {
margin-right:0; }
/* Button3 */
.button3 {
display: flex;
justify-content: center;
margin-bottom: 50px;}  
/* Portfolio */
.button2 {
cursor: pointer;
background:var(--main-color6);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
font-family: inherit;
padding: 6px 22px 6px 22px;
border: none;
border-radius: 4px;}
/* Button2 hover */
.button2:hover {
background-color:var(--main-color2);
color: var(--main-color1);}
/* List-item4 */
.list-item4 {
display: flex;
flex-wrap: wrap;
gap: 30px;}

/* boxtext */
.boxtext {
padding: 20px 24px 24px 20px;
border-bottom: 1px solid var(--main-color9);
border-right: 1px solid var(--main-color9);
border-left: 1px solid var(--main-color9);}
/* List-item */
.projname {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.05em;
margin:0;
margin-bottom: 4px;}
/* Description */
.description {
font-size: 16px;
line-height: 1.88;
color:var(--main-color3);
margin:0;}
/* Boxes */
.boxes {
width: calc((100% - 60px) / 3);
}
